* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-texto: white;
  --bordaduras: rgb(255, 255, 255, 0.2);
  --fundo: url(./assets/bg-mobile.jpg);
  --cor-fundo: rgba(199, 155, 155, 0.1);
  --cor-fundo-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --button-color: white;
  --url--fundo-botao: url(./assets/swich-dark.svg);
}

.light {
  --cor-texto: white;
  --bordaduras: url(./assets/bg-white.jpg);
  --stroke-color: rgba(226, 214, 214, 0.712);
  --cor-fundo: rgba(0, 0, 0, 0.5);
  --cor-fundo-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --button-color: white;
  ---url--fundo-botao: url(./assets/swich-light.svg);
}

body {
  /*
  background-color: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  color: var(--cor-texto);
  font-family: "Inter", sans-serif;
}
#container {
  width: 360px;
  border: 1px solid var(--bordaduras);
  margin: 56px auto 0px;
  padding: 12px 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* links */
#switch {
  position: relative;
  width: 64px;
  padding: 4px auto;
  margin: 25px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: var(--button-color) var(--url--fundo-botao) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  left: 0;
  right: initial;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--cor-fundo);
  border: 1px solid red;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  border: 1px solid var(--bordaduras);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 16px 24px;
  background: var(--cor-fundo);
  border: 1px solid var(--bordaduras);
  border-radius: 8px;
  --webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background, 0.5s;
}

ul li a:hover {
  background: var(--cor-fundo-hover);
  border: 1px solid var(--bordaduras);
}

#social-link {
  justify-content: center;
  display: flex;
  gap: 8px;
  font-size: 24px;
}

#social-link a {
  justify-content: center;
  display: flex;
  align-content: center;
  padding: 16px;
  transition: background;
  border-radius: 50%;
}

#social-link a:hover {
  border: 1px solid var(--bordaduras);
  background: var(--cor-fundo-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
